@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Didot;
  font-weight: 400;
}

.slider-on {
  overflow: hidden;
}

.main__video {
  /* height: 92vh; */
  overflow: hidden;
}

.overview_video {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 8vh;
  background-color: #222222;
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; */
  padding-left: 5vw;
  padding-right: 5vw;
}

.fix__head {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo {
  color: #e2e2e2;
  font-family: "Times New Roman", Times, serif;
  /* position: absolute;
  left: 44%; */
  font-size: 45px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  text-transform: uppercase;
}

.nav-half a:first-child {
margin-right: 20px;
}

.navigation__link {
  color: #cecece;
  font-size: 20px;
}

.navigation__link:hover {
  color: #3a3430;
  transition: all 500ms ease-out;
}

.main {
  background-color: #292828;
}

.main__video video {
  z-index: 0;
}

.main__picture {
  width: 100%;
  height: 100vh;
  background-image: url();
}

.main__about-us-title {
  margin-bottom: 60px;
  margin-left: 60px;
  margin-top: 100px;
}

.about_us-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: #e9e4e1c7;
  overflow: hidden;
}

.about_us-info-left {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(img/IMG_2107.JPG);
  background-size: cover;
}
.part2 {
  width: 50vw;
  margin-top: 60px;
  background-color: #4d4c4c;
  padding-bottom: 30px;
  padding-top: 30px;
}
.partners_logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.partner_logo {
  padding: 15px;
  height: 103px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.partner_logo img {
  width: 100px;
}

.partner_logo:hover {
  background-color: #7a7a7a;
  transition: all 500ms ease-out;
}

.work_stages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #e9e4e1c7;
}

.work_stages__description svg {
  height: 20px;
  fill: #e9e4e1c7;
}

.work_stages__description {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.work_stage_item {
  padding: 30px;
  border: 2px solid #7a7a7a;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 35vw;
  text-align: center;
}
.work_stages__image {
  background-image: url(img/IMG_2121.JPG);
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.work_stage_item p:first-child {
  font-size: 28px;
}

.work_stage_item p {
  font-size: 20px;
}

.work_stages__description h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.main__projects {
  padding-top: 100px;
}

.main__projects-title {
  color: #c9c9c9;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: normal;
}

.projects__content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main__projects-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 10px;
}

.main__project-item {
    width: 300px;
  height: 400px;
}
.main__project-item > img {
  width: 100%;
  height: 100%;
}

.customer-design {
  margin-bottom: 100px;
  padding-left: 10px;
}
.customer-design-images > img {
  width: 300px;
  height: 400px;
}

.customer-design-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.furniture_photo_1 {
  width: 50vw;
}

.furniture_photo_2 {
  width: 550px;
}

.furniture_description {
  width: 40vw;
  font-size: 25px;
  color: #cecece;
  margin-bottom: 30px;
  margin-left: 60px;
}

.center {
  text-align: center;
}

.design-title {
  color: #e9e4e1c7;
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}

.about__us-partners {
  padding-top: 100px;
  position: relative;
}

.partners-title {
  color: #c9c9c9;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: normal;
}

.aristo__main-block,
.gliver__main-block {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.partner__aristo,
.partner__gliver {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 20px;
  background-color: #e9dddd;
  margin: 0 auto;
}

.partner__aristo-images,
.partner__gliver-images {
  display: flex;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
}

.partner__aristo-images svg {
  cursor: pointer;
}

.partner__aristo p,
.partner__gliver p {
  font-size: 20px;
}

.partner__aristo a,
.partner__gliver a {
  color: #7a7a7a;
}

.partner__aristo img,
.partner__gliver img {
  width: 300px;
}

.partners-text {
  color: #c9c9c9;
  font-size: 25px;
  margin: 30px auto;
  font-weight: normal;
  width: 900px;
  text-align: center;
}

.main__contacts {
  padding-top: 100px;
  padding-bottom: 30px;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}
.main__contacts-title {
  text-align: center;
  margin-bottom: 50px;
  color: #c9c9c9;
  font-weight: normal;
}

.contacts-info {
  display: flex;
  gap: 50px;
}

.main__contacts-address p {
  color: #c9c9c9;
  font-size: 20px;
}

.main__contacts-address > p:first-child {
  font-size: 25px;
}

.contacts__content {
display: flex;
justify-content: space-around;
}

.consult {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #c9c9c9;
  font-size: 25px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  margin-left: 20px;
}

.input_name,
.input_tel {
  height: 50px;
  width: 300px;
  border: none;
  margin-bottom: 20px;
  background-color: #e9e5e5;
  font-size: 20px;
  padding-left: 15px;
}

.btn_submit {
  padding: 15px;
  width: 300px;
  color: #c9c9c9;
  background: none;
  text-transform: uppercase;
  border: 1px solid #c9c9c9;
  font-size: 25px;
  cursor: pointer;
}

.aristo__slider,
.gliver__slider {
  background: rgba(71, 71, 71, 0.8);
padding: 50px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
}

.content {
  position: relative;
}

.exit {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -35px;
}

.hide {
  display: none;
}

.slider{
  position:relative;
  width:100%;
  overflow:hidden;
  height: 600px;
  margin:20px auto 0 auto;
}

.slider ul{
  position:relative;
  width:100%;
  margin:0;
  padding:0;
  height:600px;
  display:inline-block;
  list-style:none;
  background:#458;
}


.slider ul li{
  position:relative;
  float:left;
  display:inline-block;
  margin:0;
  padding:0;
  width:900px;
  height:500px;
  background:#fff;
  text-align:center;
  line-height:500px;
  color:#333;
}

.slider  ul li img {
  width: 100%;
  height: 100%;
}

.control{
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.prev{
  left:0px;
}

.next{
  right:0px;
}