@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Didot;
  font-weight: 400;
}

.slider-on {
  overflow: hidden;
}

.main__video {
  /* height: 92vh; */
  overflow: hidden;
}

.overview_video {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 8vh;
  background-color: #222222;
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; */
  padding-left: 5vw;
  padding-right: 5vw;
}

.fix__head {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo {
  color: #e2e2e2;
  font-family: "Times New Roman", Times, serif;
  /* position: absolute;
  left: 44%; */
  font-size: 45px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  text-transform: uppercase;
}

.nav-half a:first-child {
  margin-right: 20px;
}

.navigation__hamburger {
  display: none;
}

.navigation__link {
  color: #cecece;
  font-size: 20px;
}

.navigation__link:hover {
  color: #3a3430;
  transition: all 500ms ease-out;
}

.main {
  background-color: #292828;
}

.main__video video {
  z-index: 0;
}

.main__picture {
  width: 100%;
  height: 100vh;
  background-image: url();
}

.main__about-us-title {
  margin-bottom: 60px;
  margin-left: 60px;
  margin-top: 100px;
}

.about_us-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: #e9e4e1c7;
  overflow: hidden;
  height: 1000px;
}

.about_us-info-left {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(img/IMG_2107.JPG);
  background-size: cover;
}
.part2 {
  width: 50vw;
  margin-top: 60px;
  background-color: #4d4c4c;
  padding-bottom: 30px;
  padding-top: 30px;
}
.partners_logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.partner_logo {
  padding: 15px;
  height: 103px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.partner_logo img {
  width: 100px;
}

.partner_logo:hover {
  background-color: #7a7a7a;
  transition: all 500ms ease-out;
}

.work_stages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #e9e4e1c7;
}

.work_stages__description svg {
  height: 20px;
  fill: #e9e4e1c7;
}

.work_stages__description {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.work_stage_item {
  padding: 30px;
  border: 2px solid #7a7a7a;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 35vw;
  text-align: center;
}
.work_stages__image {
  background-image: url(img/IMG_2121.JPG);
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.work_stage_item p:first-child {
  font-size: 28px;
}

.work_stage_item p {
  font-size: 20px;
}

.work_stages__description h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.main__projects {
  padding-top: 100px;
}

.main__projects-title {
  color: #c9c9c9;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: normal;
}

.projects__content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main__projects-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 10px;
}

.main__project-item {
  width: 300px;
  height: 400px;
}
.main__project-item > img {
  width: 100%;
  height: 100%;
}

.customer-design {
  margin-bottom: 100px;
  padding-left: 10px;
}
.customer-design-images > img {
  width: 300px;
  height: 400px;
}

.customer-design-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.furniture_photo_1 {
  width: 50vw;
}

.furniture_photo_2 {
  width: 550px;
}

.furniture_description {
  width: 40vw;
  font-size: 25px;
  color: #cecece;
  margin-bottom: 30px;
  margin-left: 60px;
}

.center {
  text-align: center;
}

.design-title {
  color: #e9e4e1c7;
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}

.about__us-partners {
  padding-top: 100px;
  position: relative;
}

.partners-title {
  color: #c9c9c9;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: normal;
}

.aristo__main-block,
.gliver__main-block {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.partner__aristo,
.partner__gliver {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  padding: 20px;
  background-color: #e9dddd;
  margin: 0 auto;
}

.partner__aristo-images img {
  width: 300px;
}

.partner__aristo-images,
.partner__gliver-images {
  display: flex;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
}

.partner__aristo-images svg {
  cursor: pointer;
}

.partner__aristo p,
.partner__gliver p {
  font-size: 20px;
  text-align: center;
}

.partner__aristo a,
.partner__gliver a {
  color: #7a7a7a;
}

.partner__aristo img,
.partner__gliver img {
  width: 300px;
}

.partners-text {
  color: #c9c9c9;
  font-size: 25px;
  margin: 30px auto;
  font-weight: normal;
  width: 900px;
  text-align: center;
}

.main__contacts {
  padding-top: 100px;
  padding-bottom: 30px;
}

.contacts__address-and-consult {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.main__contacts-title {
  text-align: center;
  margin-bottom: 50px;
  color: #c9c9c9;
  font-weight: normal;
}

.contacts-info {
  display: flex;
  gap: 70px;
}

.main__contacts-address {
  width: 484px;
}

.main__contacts-address p {
  color: #c9c9c9;
  font-size: 20px;
}

.main__contacts-address > p:first-child {
  font-size: 25px;
}

.contacts__content {
  display: flex;
  flex-direction: column;
}

.consult {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #c9c9c9;
  font-size: 20px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  margin-left: 20px;
}

input {
  color: #c9c9c9;
}

.input_name,
.input_tel {
  height: 50px;
  width: 300px;
  border: 1px solid #c9c9c9;
  margin-bottom: 20px;
  background-color: #292828;
  font-size: 20px;
  padding-left: 15px;
}

.btn_submit {
  padding: 15px;
  width: 300px;
  color: #c9c9c9;
  background: none;
  text-transform: uppercase;
  border: 1px solid #c9c9c9;
  font-size: 25px;
  cursor: pointer;
}

.aristo__slider,
.gliver__slider {
  background: rgba(71, 71, 71, 0.8);
  padding: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.gliver__slider {
  top: 500px;
}

.content {
  position: relative;
}

.exit {
  cursor: pointer;
  position: absolute;
  top: 41px;
  right: 18px;
  z-index: 10;
}

.hide {
  display: none;
}

.slider,
.slider2,
.slider3,
.slider4 {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
  margin: 20px auto 0 auto;
}

.slider ul,
.slider2 ul,
.slider3 ul,
.slider4 ul {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 600px;
  display: inline-block;
  list-style: none;
  background: #458;
}

.slider ul li,
.slider2 ul li,
.slider3 ul li,
.slider4 ul li {
  position: relative;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 900px;
  height: 500px;
  background: #fff;
  text-align: center;
  line-height: 500px;
  color: #333;
}

.slider ul li img,
.slider2 ul li img,
.slider3 ul li img,
.slider4 ul li img {
  width: 100%;
  height: 100%;
}

.control {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.slider3 {
  width: 600px;
  height: 500px;
}

.slider3 ul {
  height: 500px;
}

.slider3 ul li {
  width: 600px;
  height: 500px;
  line-height: 500px;
}

@media (max-width: 1260px) {
  .customer-design-images {
    justify-content: center;
  }
  .projects__content {
    display: flex;
    flex-direction: column;
  }

  .main__projects-items {
    justify-content: center;
  }

  .partner__aristo img,
  .partner__gliver img {
    width: 90%;
  }
}

@media (max-width: 1215px) {
  .part2 {
    margin-top: 15px;
  }

  .partners_logos {
    margin-bottom: 15px;
  }
}

@media (max-width: 1065px) {
  .furniture_description {
    font-size: 23px;
  }
  .partner_logo img {
    width: 80px;
  }
}

@media (max-width: 1030px) {
  .aristo__main-block,
  .gliver__main-block {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }
  .block1 {
    grid-column: 1/3;
  }
  .partner__aristo,
  .partner__gliver {
    width: 100%;
  }

  .contacts__address-and-consult {
    flex-direction: column;
    margin-left: 30px;
  }

  .consult {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .slider ul li,
  .slider2 ul li,
  .slider4 ul li {
    width: 780px;
  }

  .gliver__slider {
    top: 1280px;
  }
}

@media (max-width: 880px) {
  .main__about-us-title {
    margin-top: 60px;
  }

  .partners_logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .partner_logo {
    height: 70px;
    justify-content: center;
    width: 140px;
  }

  .furniture_description {
    font-size: 21px;
  }

  .part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .furniture_description {
    margin-left: 0;
  }

  .part1 {
    margin-left: 30px;
  }

  .main__about-us-title {
    margin-left: 0;
  }

  .partners-text {
    width: auto;
  }

  .slider ul li,
  .slider2 ul li,
  .slider4 ul li {
    width: 780px;
  }

  .gliver__slider {
    top: 1100px;
  }
}

@media (max-width: 780px) {

  .navigation__link {
    font-size: 18px;
}

  .work_stages {
    position: relative;
    display: block;
  }

  .work_stage_item {
    width: 80vw;
  }
  .work_stages__description {
    position:sticky;
    z-index: 1;
    width: 100%;
    background: rgba(71, 71, 71, 0.8);
    padding-bottom: 100px;
  }

  .work_stages__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .about_us-info {
    height: 1050px;
  }
  .slider ul li,
  .slider2 ul li,
  .slider4 ul li {
    width: 690px;
    height: 430px;
    line-height: 430px;
  }

  .slider3 ul li {
    width: 430px;
    height: 430px;
    line-height: 430px;
  }

  .slider ul,
  .slider2 ul,
  .slider3 ul,
  .slider4 ul {
    height: 430px;
  }

  .gliver__slider {
    top: 1100px;
  }
}

@media(max-width: 680px) {
  .nav-half {
    display: none;
  }

  .navigation__hamburger {
    display: block;
  }

  .hamburger .line{
    width: 40px;
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
}